.form {
  display: flex;
  flex-direction: column;
  width: 50vh;
  margin: auto;
  margin-top: 5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 10vh;
  border-radius: 10px;
}
.form > Form {
  display: flex;
  flex-direction: column;
}
.underline {
  text-decoration: line-through;
}
.table {
  display: flex;
  width: 120vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  margin-top: 10vh;
  padding: 10px;
  border-radius: 10px;
  display: block;
}
